<p>product works!</p>
<div class="ad-banner-example">
    <h3>userDetails</h3>
    <ng-container *ngComponentOutlet="
        currentComponet.component;
        inputs: currentComponet.inputs;
    " />
    <button (click)="renderTheNextComponent()">Next</button>
</div>


<div>
product list
 <div *ngIf="allProducts$" style="border: 1px solid orange;" class="productLists">
    <div *ngFor="let item of allProducts$" class="item">
        
        <div><img style="width: 120px; height: 120px;" [src]="item.thumbnail" /></div>
        <div>
           brand: {{item.brand}}
        </div>
        <p>price: {{item.price}}</p>
        <button>add card</button>
       
    </div>
 </div>

 <ng-template #noData> no data availbe</ng-template>

</div>



