/* You can add global styles to this file, and also import other style files */
/* import 'ag-grid-community/styles/ag-grid.css'; */
/* Quartz Theme Specific CSS */
/* import 'ag-grid-community/styles/ag-theme-quartz.css'; */
/* 
.rag-red {
    background-color: #CC222244;
}
.rag-green {
    background-color: #33CC3344;
} */


@import "~ag-grid-community/styles/ag-grid.css";
@import "~ag-grid-community/styles/ag-theme-quartz.css";


/* * {
    height: 100%;
    width: 100%;
} */